

body{
    background-color: rgb(245, 220, 227);
    font-family: "Antic Slab"
}
.title h1, .title h3 {

    color: white;

}
h1{
    color: darkolivegreen;
}
h2{
    color:Brown;
}
h3{
    color:darkred;
}
p{
    color: darkgreen;
}

ul{
    color: darkslateblue;
}

.title {
    position: relative;
    padding: 40px;
    overflow: hidden;
}

.title::before {
    content: "";
    position: absolute;
    inset: -10px;
    background-image: url("studybackground.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}


#skillsBtn:hover{
    background-color: lightcyan;
}

#educationBtn:hover{
    background-color:lightcyan;
}

#experiencesBtn:hover{
    background-color:lightcyan;
}

#projectsBtn:hover{
    background-color:lightcyan;
}
